.container {
  background: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.input {
  width: 180px;
  height: 56px;
  border: none;
  outline-style: none;
  font-size: 16px;
  color: #333333;
  padding: 0 28px;
  border-radius: 28px;
  background: #e0e0e0;
  box-shadow: 6px 6px 12px #b8b8b8, -6px -6px 12px #ffffff, inset 0 0 0 #b8b8b8, inset 0 0 0 #ffffff;
  transition: all .24s ease-in-out;

  &:focus {
    box-shadow: 0 0 0 #b8b8b8, 0 0 0 #ffffff, inset 6px 6px 12px #b8b8b8, inset -6px -6px 12px #ffffff;
  }

  &::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 1rem;
    font-weight: 700;
    transition: all .24s ease-in-out;
  }


  &:focus::placeholder {
    color: rgba(0, 0, 0, 0.8);
  }
}